html, body {
  margin: 0;
  height: 100%;
}

.bar {
  /* margin-left: 200px; */
  fill: grey;
  stroke: black;
  stroke-width: 2;
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  /* font-family: -apple-system, BlinkMacSystemFont, sans-serif; */
  font-family: "Courier New", Courier, monospace;


}
.bar:hover {
  fill: lightblue;
}

.text{
  fill: white;
  font-family: sans-serif;
}

.x axis-label{
  color: black;

}

.title{
  font-family: "Courier New", Courier, monospace;
  font-size: 38px;	
  font-weight: 550;
}

.row{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

#chart-area{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/* tooltip */
.tip-hover{
  /* font-family: "Courier New", Courier, monospace; */
  font-family: "Trebuchet MS", Helvetica, sans-serif;	
  font-size: 16px;
    /* background: grey; */

}
.d3-tip {
  line-height: 1.0;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 3px;
  pointer-events: none;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 12px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  position: absolute;
  pointer-events: none;
}

/* Northward tooltips */
.d3-tip.n:after {
  content: "\25BC";
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
  text-align: center;
}

/* Eastward tooltips */
.d3-tip.e:after {
  content: "\25C0";
  margin: -4px 0 0 0;
  top: 50%;
  left: -8px;
}

/* Southward tooltips */
.d3-tip.s:after {
  content: "\25B2";
  margin: 0 0 1px 0;
  top: -8px;
  left: 0;
  text-align: center;
}

/* Westward tooltips */
.d3-tip.w:after {
  content: "\25B6";
  margin: -4px 0 0 -1px;
  top: 50%;
  left: 100%;
}

/* .nba-scatter,{
  -webkit-transform: perspective(0px) translateZ(0);
  transform: perspective(0px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
} */


.nba-scatter:hover {
  transition-duration: 0.5s;
  /* height: 62px;
  width: 62px; */
  /* box-shadow: 10px 10px grey; */
  box-shadow: 0 0 11px rgba(33,33,33,.2); 
} 

.nba-bars:hover{
  /* width: 30px; */
  /* background-color:#FF0000; */
  fill: grey;
}

.nba-bars:active{
  /* background: grey; */
}

.x-axis2{
  /* padding-top: 0px; */
}

.title{
  text-transform: uppercase
}

.bar-domain{
  font-weight: 500;
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;

}

.axis-label{
  font-size: 25px;
  font-weight: 400;
}