html, body {
  margin: 0;
  height: 100%;
}

.bar {
  /* margin-left: 200px; */
  fill: grey;
  stroke: black;
  stroke-width: 2;
}
.container{
  display: flex;
  flex-direction: column;
}
.bar:hover {
  fill: lightblue;
}

.text{
  fill: white;
  font-family: sans-serif;
}

.x axis-label{
  color: black;

}